<div class="container">
  <div class="row gallery-container">
    <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
      <div class="bg-white rounded shadow-sm">
        <div class="overflow-hidden" style="height: 170px">
          <img src="./images/logo.png" alt="" class="img-fluid card-img-top" />
        </div>
        <div class="p-4">
          <h5>
            <a
              href="#"
              class="text-dark"
              target="_blank"
              rel="noopener noreferrer"
              >Name</a
            >
          </h5>
          <p
            class="small text-muted mb-0 text-truncate"
            style="max-width: 180px"
          >
            text
          </p>
          <div
            class="rounded-pill px-3 py-2 mt-4"
            style="background-color: color"
          >
            <p class="small mb-0 text-center text-light font-weight-bold">
              Desired photo color : color
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
      <div class="bg-white rounded shadow-sm">
        <div class="overflow-hidden" style="height: 170px">
          <img src="./images/logo.png" alt="" class="img-fluid card-img-top" />
        </div>
        <div class="p-4">
          <h5>
            <a
              href="#"
              class="text-dark"
              target="_blank"
              rel="noopener noreferrer"
              >Name</a
            >
          </h5>
          <p
            class="small text-muted mb-0 text-truncate"
            style="max-width: 180px"
          >
            text
          </p>
          <div
            class="rounded-pill px-3 py-2 mt-4"
            style="background-color: color"
          >
            <p class="small mb-0 text-center text-light font-weight-bold">
              Desired photo color : color
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
      <div class="bg-white rounded shadow-sm">
        <div class="overflow-hidden" style="height: 170px">
          <img src="./images/logo.png" alt="" class="img-fluid card-img-top" />
        </div>
        <div class="p-4">
          <h5>
            <a
              href="#"
              class="text-dark"
              target="_blank"
              rel="noopener noreferrer"
              >Name</a
            >
          </h5>
          <p
            class="small text-muted mb-0 text-truncate"
            style="max-width: 180px"
          >
            text
          </p>
          <div
            class="rounded-pill px-3 py-2 mt-4"
            style="background-color: color"
          >
            <p class="small mb-0 text-center text-light font-weight-bold">
              Desired photo color : color
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
