<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add contact</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body text-center">
        <form class="inline-form js-modal-form">
          <div class="m-0 mb-3">
            <label class="form-label"
              >Name
              <input
                type="text"
                class="form-control"
                placeholder="Forrest Best"
                name="name"
                required
                minlength="3"
              />
            </label>
          </div>
          <div class="m-0 mb-3">
            <label class="form-label"
              >Email
              <input
                type="email"
                class="form-control"
                placeholder="name@example.com"
                name="email"
                required
              />
            </label>
          </div>
          <div class="m-0 mb-3">
            <label class="form-label"
              >Number
              <input
                type="tel"
                class="form-control"
                placeholder="+1 (105) 106-3145"
                name="phone"
                required
              />
            </label>
          </div>
          <div class="mx-auto">
            <button type="submit" class="btn btn-secondary">Add</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
