<header class="shadow py-2 navbar-light bg-light">
  <nav class="navbar">
    <div class="container">
      <a
        class="d-flex align-items-center gap-1 text-decoration-none col-form-label text-secondary fs-4"
        ><span class="material-icons-round"> collections </span>
        <span class="fw-bold">Pexels API</span></a
      >
      <form class="d-flex js-searchbar">
        <input
          class="form-control me-2"
          type="search"
          name="query"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-secondary" type="submit">Search</button>
      </form>
    </div>
  </nav>
</header>
