<nav class="navbar navbar-light">
  <div class="container">
    <button
      type="button"
      class="btn btn-secondary d-flex align-items-center gap-1 btn-sm fs-6"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
    >
      <span class="material-icons-round"> add_circle_outline </span> Add Contact
    </button>

    <a class="navbar-brand d-flex align-items-center gap-1 fs-4 fw-bold">
      <span class="material-icons-round"> fact_check </span> Contact App</a
    >

    <form>
      <input
        class="form-control me-2 js-search"
        type="search"
        placeholder="Search"
        aria-label="Search"
        name="search"
      />
    </form>
  </div>
</nav>
